
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Navbar
@import 'modules/navbar';

input, select {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}
